/* common shared styles */
body {

    font-family: "Open Sans", system-ui;
    font-optical-sizing: auto;
    font-style: normal;

}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    padding: 15px 35px;
    color: white;
    font-size: 20px;
    font-weight: 700;


}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;

}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 51px;

}

nav a {
    text-decoration: none;
    color: #474747;
}

/* heder section */
.header {

    background-color: #FFF8F3;
}

.banner {
    display: flex;
    padding: 30px 30px 30px 150px;

}

.banner .primary-image {
    width: 500px;

}